{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<script src="/assets/js/registrationForm/updatepp.js"></script>
<script src="/assets/js/registrationForm/switchcompany.js"></script>
<script src="/assets/js/registrationForm/map.js" defer></script>

<!-- Map integration -->
  <link rel="stylesheet" href="https://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  <script src="https://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>


<section class="position-absolute w-100">
        {{ component('Navbar') }}
    </section>
    <section class="hero d-flex align-items-center" id="hero" style="padding-top:90px; height: auto; min-height: 100vh;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 d-flex flex-column justify-content-center" style="display: flex;align-items: center; padding: 30px;">
                    <h1 data-aos="fade-up" class="aos-init aos-animate">Inscription</h1>
                    <h2 data-aos="fade-up" data-aos-delay="400" class="aos-init aos-animate">ou</h2>
                    <div data-aos="fade-up" data-aos-delay="600" class="aos-init aos-animate">
                        <div class="text-center text-lg-start">
                            <a href="/register" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                            <span>Se connecter</span>
                            <img alt="arrow" src="/assets/images/arrow.png" height="30px" class="arrow">
                            </a>
                        </div>
                    </div>
                </div>
            
    
                <div class="col-lg-6 contact">
                    <div class="php-email-form" name="registration_form" style="height: auto; background-color: #ffffff08; padding: 30px; margin: 30px; ">
                        {{ form_start(registrationForm) }}
                            <div class="row gy-4 counts" style="padding:10px; ">
        
                                <div class="col-md-12 d-flex justify-content-center align-items-center">
                                    <div class="login" style="height: 100px; width: 100px; padding: 10px">
                                        <div class="w-100 h-100 d-flex justify-content-center align-items-center" id="inputPP">
                                            <input type="file" name="{{ field_name(registrationForm.photo_profil) }}" class="form-control w-100 h-100 position-absolute" style="filter: opacity(0);" accept="image">
                                            <span style=" margin-top: 30px; font-size: 30px; font-weight: bold;">+</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 row m-0 mt-3 p-0 optionalform" id="companyform">

                                    <div class="col-md-12">
                                        <input value="" id="adress" type="text" class="form-control inputcompany" name="adress" placeholder="Adresse">
                                        <div class="count-box" style="margin: 20px 20px 0; padding: 10px; width: fit-content; font-size: 0.5em;">
                                            <span id="adresstext" style="font-size: 2.2em;">Adresse</span>
                                        </div>
                                        <input value="" id="rue" type="hidden" class="form-control inputcompany" name="{{ field_name(registrationForm.entreprise.adresse) }}" placeholder="Adresse">
                                        <input value="" id="cp" type="hidden" class="form-control inputcompany" name="{{ field_name(registrationForm.entreprise.cp) }}" placeholder="Adresse">
                                        <input value="" id="ville" type="hidden" class="form-control inputcompany" name="{{ field_name(registrationForm.entreprise.ville) }}" placeholder="Adresse">
                                
                                    </div>
                                    
                                    <div class="col-md-6 mt-3">
                                        <input value="" type="text" class="form-control inputcompany" id="registration_form_nom" name="{{ field_name(registrationForm.entreprise.nom_entreprise) }}" maxlength="255" placeholder="Company-Name">
                                    </div>
                                    
                                    <div class="col-md-6 mt-3">
                                        <input value="" type="text" class="form-control inputcompany" id="registration_form_prenom" name="{{ field_name(registrationForm.entreprise.fonction_employe) }}" maxlength="255" placeholder="Position-Held">
                                    </div>
                                
                                </div>
                

                                <div class="col-md-6">
                                    <input value="" type="text" class="form-control" id="registration_form_nom" name="{{ field_name(registrationForm.nom) }}" maxlength="255" placeholder="Family-Name" autocomplete="family-name" required="">
                                </div>
                                
                                <div class="col-md-6">
                                    <input value="" type="text" class="form-control" id="registration_form_prenom" name="{{ field_name(registrationForm.prenom) }}" maxlength="255" placeholder="Name" autocomplete="given-name" required="">
                                </div>
                                
                                <div class="col-md-12">
                                    <input value="" type="email" class="form-control" id="registration_form_email" name="{{ field_name(registrationForm.email) }}" placeholder="E-mail" autocomplete="email" maxlength="180" required="required">
                                </div>

                                <div class="col-md-6 optionalform" id="etudiantform"  style="filter: opacity(1); visibility: visible;">
                                    <input value="" type="text" id="registration_form_plainPassword" name="{{ field_name(registrationForm.etudiant.domaine_etude) }}" autocomplete="new-password" class="form-control" placeholder="Domaine d'étude">
                                </div>
                                
                                <div class="col-md-6">
                                    <input value="" type="password" id="registration_form_plainPassword" name="{{ field_name(registrationForm.plainPassword) }}" autocomplete="new-password" class="form-control" placeholder="Password" required="required">
                                </div>
                                
                                <div class="col-md-6">
                                    <div class="form-check d-flex align-items-center">
                                        <input class="form-check-input" type="checkbox" value="" id="registration_form_agreeTerms" name="{{ field_name(registrationForm.agreeTerms) }}" checked="" required="" style="height: 28px; width: 28px; margin-right: 10px; ">
                                        <label class="form-check-label" for="flexCheckChecked">
                                        Agree Terms
                                        </label>
                                    </div>
                                </div>
                                
                                <div class="col-md-6">
                                    <div class="form-check d-flex align-items-center">
                                        <input class="form-check-input" type="checkbox" value="" id="companycheck" name="" style="height: 28px; width: 28px; margin-right: 10px; ">
                                        <label class="form-check-label" for="flexCheckChecked">
                                        Company ?
                                        </label>
                                    </div>
                                </div>
        

        
                                <div class="col-md-12 text-center">
                                    {% if form_errors(registrationForm) %}
                                    <div class="alert alert-danger">{{ form_errors(registrationForm) }}</div>
                                    {% endif %}
                                    <button class="btn btn-lg btn-primary" type="submit">S'inscrire</button>
                                </div>
        
                            </div>
                        {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


