{% extends 'base.html.twig' %}

{% block title %}TypeOffreEmploi{% endblock %}

{% block body %}
    <h1>TypeOffreEmploi</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_offre_emploi.id }}</td>
            </tr>
            <tr>
                <th>Type_de_contrat</th>
                <td>{{ type_offre_emploi.typeDeContrat }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_type_offre_emploi_index') }}">back to list</a>

    <a href="{{ path('app_type_offre_emploi_edit', {'id': type_offre_emploi.id}) }}">edit</a>

    {{ include('admin/type_offre_emploi/_delete_form.html.twig') }}
{% endblock %}
