{# templates/salle/detail.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Détails de la Salle {{ salle.nom }}{% endblock %}

{% block body %}
    <h1>Détails de la Salle {{ salle.nom }}</h1>
    <p>Nom de la salle : {{ salle.nom }}</p>
    <p>Description : {{ salle.description }}</p>
    <!-- Autres détails de la salle -->
    <a href="{{ path('app_salle_list') }}" class="btn btn-secondary">Retour à la liste des salles</a>
    </div>
{% endblock %}
